extends baseEmail

block content
  p Hi #{offerSenderFirstName},

  p Great news! Your counter offer has been accepted by #{offeredUserFirstName}.

  p You can now proceed with the next steps and start working together on the project based on the updated terms.

  p Please visit your account for more details and to coordinate with #{offeredUserFirstName}.

  p (Website for this action not yet implemented.)

  p If you believe this action was made by mistake, please contact support.