extends baseEmail

block content
  p Hi #{firstName},
  p You requested to change your email address. Use the verification code below to confirm your new email:
  h2(style="font-size: 24px; color: #333; font-weight: bold;") #{verificationCode}
  p Enter this code in the email update form.
  p (Website for this action not yet implemented.)
  p If you didn't request this change, please ignore this email!
