extends baseEmail

block content
  p Hi #{offeredUserFirstName},

  p You've received a new offer from #{offerSenderFirstName}!

  p Offered Skill: #{offeredSkill}
  p Required Skill: #{requiredSkill}

  p Please visit your account to accept or decline the offer.

  p (Website for this action not yet implemented.)

  p If you didn't expect this offer, you can safely ignore this email.
