extends baseEmail

block content
  p Hi #{offerSenderFirstName},

  p Congratulations! Your offer for the skill #{offeredSkill} has been accepted by #{offeredUserFirstName}.

  p You can now proceed with the next steps to work together on the project.

  p Please visit your account for more details and to coordinate with #{offeredUserFirstName}.

  p (Website for this action not yet implemented.)

  p If you believe this action was made by mistake, please contact support.