extends baseEmail

block content
  p Hi #{firstName},
  p Forgot your password? Use the verification code below to reset your password:
  h2(style="font-size: 24px; color: #333; font-weight: bold;") #{resetCode}
  p Enter this code in the password reset form.
  p (Website for this action not yet implemented.)
  p If you didn't request a password reset, please ignore this email!
