extends baseEmail

block content
  p Hi #{offerSenderFirstName},

  p Unfortunately, your offer to #{offeredUserFirstName} has been rejected.

  p Offered Skill: #{offeredSkill}  
  p Required Skill: #{requiredSkill}

  p Feel free to explore other skill exchange opportunities on the platform.

  p (Website for this action not yet implemented.)

  p If you have any questions, please contact support.