extends baseEmail

block content
  p Hi #{offerSenderFirstName},

  p Unfortunately, your counter offer has been rejected by #{offeredUserFirstName}.

  p This means the negotiation for this specific offer will not proceed further under the proposed terms.

  p You can revisit the offer details in your account and decide whether to create a new offer or explore other opportunities.

  p (Website for this action not yet implemented.)

  p If you believe this action was made by mistake, please contact support.